{% extends "base_auth.html" %}
{% load static %}

{% block content %}
<div class="auth-card">
  
  <!-- Title Minimalis -->
  <h3 class="fw-bold mb-1 text-white">Set new password</h3>
  <p class="text-secondary small mb-4 auth-subtitle">Please enter your new password below.</p>
  
  <!-- Pesan Alert / Notifikasi -->
  {% include 'partials/_massages.html' %}

  <form action="" method="post">
    {% csrf_token %}
    
    <!-- Input Password Baru -->
    <div class="mb-3">
      <div class="position-relative">
        <input 
          type="password" 
          name="new_password1" 
          class="form-control form-control-minimal pe-5" 
          placeholder="New password"
          id="PasswordField1"
          required
        />
        <!-- Ikon Mata (Opsional jika ingin pakai toggle lihat password) -->
        <span class="position-absolute top-50 end-0 translate-middle-y me-3 text-secondary" id="showPasswordToggle" style="cursor: pointer; user-select: none;">
          <i class="bi bi-eye" id="toggleIcon"></i>
        </span>
      </div>
    </div>
   <!-- Re-enter Password Baru --> 
  <div class="mb-3">
      <div class="position-relative">
        <input 
          type="password" 
          name="new_password2" 
          class="form-control form-control-minimal pe-5" 
          placeholder="Confirm new password"
          id="PasswordField2"
          required
        />
        <!-- Ikon Mata (Opsional jika ingin pakai toggle lihat password) -->
        <span class="position-absolute top-50 end-0 translate-middle-y me-3 text-secondary" id="showPasswordToggle" style="cursor: pointer; user-select: none;">
          <i class="bi bi-eye" id="toggleIcon"></i>
        </span>
      </div>
    </div>    

    <!-- Button Submit Password Baru -->
    <div class="mt-4">
      <button type="submit" class="btn btn-minimal w-100">Reset Password</button>
    </div>

    <!-- Link Kembali ke Login -->
    <div class="mt-4 text-center">
      <span class="text-secondary small">Back to</span>
      <a href="{% url 'login' %}" class="show-toggle fw-semibold text-decoration-none">Login</a>
    </div>

  </form>
</div>
<script src="{% static 'js/set-newpassword.js' %}" defer></script>
{% endblock %}